  <footer style="background-color: #212121;">
    <div class="container">
        <p class="d-inline navbar-dark">Copyright © 2021 SKEDDULE. All rights reserved.</p>
        <p class="footer-dark" style="float: right;">SKEDDULE v1.1.0</p>
    </div>
</footer>
  
  </body>

</html>

