<footer style="background-color: #212121; color: #fff; padding: 40px 0;">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h4 style="margin-bottom: 15px;">Contact Us:</h4>
              <p>Email: <a href="mailto:jahid_hussain03@outlook.com" style="color: #fff;">info@skeddule.com</a> | Phone: <a href="tel:+11234567890" style="color: #fff;">+44 7940376296</a></p>
          </div>
          <div class="col-md-6 text-md-right">
              <p style="margin-bottom: 10px;">&copy; 2023 SKEDDULE. All rights reserved. | Version: <strong>1.1.0</strong></p>
          </div>
      </div>
  </div>
</footer>
</body>
</html>
