<%- include('partials/header.ejs'); -%>
<%- include('partials/navbar.ejs'); -%>

<div class="container mt-5 pt-5 text-center">
    <h2 class="mb-4">Welcome to Skeddule</h2>
    <p class="w-75 m-auto">
        Skeddule, your personal task companion, brings simplicity to task management! Seamlessly register and log in to your personalized dashboard, where you wield the power to effortlessly add, edit, delete, and view tasks. With intuitive features like priority management, status updates from 'todo' to 'in progress' and 'completed,' and a robust search functionality, Skeddule empowers you to organize your tasks with ease. Elevate your productivity and make every task count with Skeddule – where task management meets simplicity!
    </p>

    <!-- Call-to-action button -->
    <a href="/user/register" class="btn btn-primary btn-lg mt-4">Sign up</a>
</div>

<%- include('partials/footer.ejs'); -%>
