<%- include('partials/header.ejs'); -%>
<%- include('partials/navbar.ejs'); -%>


<div class="container mt-5 pt-5">
    <p class="w-50 m-auto">
        Skeddule, your personal task companion, brings simplicity to task management! Seamlessly register and login to your personalized dashboard, where you wield the power to effortlessly add, edit, delete, and view tasks. With intuitive features like priority management, status updates from 'todo' to 'in progress' and 'completed,' and a robust search functionality, Skeddule empowers you to organize your tasks with ease. Elevate your productivity and make every task count with Skeddule – where task management meets simplicity!
    </p>
</div>


<%- include('partials/footer.ejs'); -%>